@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First Project in .net 9 C#</h1>
    <p>Victor Govedice <a href="https://victorgovedice.vercel.app/projects">My web I'm specialist in Node and React | MongoDB'</a>.</p>

    <form asp-action="BuscarCep" method="get">
        <div>
            <label for="cep">CEP:</label>
            <input type="text" id="cep" name="cep" />
            <button type="submit">Buscar</button>
        </div>
    </form>
</div>
